<%- include('partials/header', { title: 'Home Page' }) %>

<div class="container-fluid">
    <h1>Log Details</h1>

    <% if (log) { %>
        <li class="list-group-item"><strong>ID:</strong> <%= log.id %></li>
        <li class="list-group-item"><strong>Timestamp:</strong> <%= log.timestamp %></li>
        <li class="list-group-item"><strong>URL:</strong> <%= log.url %></li>
        <li class="list-group-item"><strong>Method:</strong> <%= log.method %></li>
        <li class="list-group-item"><strong>Request Body:</strong> <pre><%= log.body %></pre></li>
        <li class="list-group-item"><strong>Status:</strong> <%= log.status %></li>
        <li class="list-group-item"><strong>Response:</strong> <pre><%= log.response %></pre></li>
        <li class="list-group-item"><strong>Request Headers:</strong> <pre><%= log.requestHeaders %></pre></li>
        <li class="list-group-item"><strong>Response Headers:</strong> <pre><%= log.responseHeaders %></pre></li>
    <% } else { %>
        <li class="list-group-item disabled">Log not found</li>
    <% } %>
</div>

<%- include('partials/footer') %>
