<%- include('partials/header', { title: 'Home Page' }) %>

<div class="container-fluid">
    <h2>Logs</h2>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Timestamp</th>
            <th scope="col">URL</th>
            <th scope="col">Request Body</th>
            <th scope="col">Response Body</th>
            <th scope="col">Method</th>
            <th scope="col">Status</th>
            <th scope="col">Headers</th>
            <th scope="col">Details</th>
        </tr>
        </thead>
        <tbody>
        <% logs.forEach(log => { %>
            <tr>
                <td scope="row"><%= log.id %></td>
                <td><%= log.timestamp %></td>
                <td><%= log.url %></td>
                <td><%= log.body %></td>
                <td><%= log.response %></td>
                <td><%= log.method %></td>
                <td><%= log.status %></td>
                <td><%= log.responseHeaders %></td>
                <td><a href="/log/<%= log.id %>">View</a></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<%- include('partials/footer') %>
